.desktop-header {
  @include desktop-media {
    height: var(--header-height);
    border-bottom: 1px solid var(--first-border-color);
    background-color: var(--surface-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--header-z-index);
  }
  @include mobile-media {
    display: none;
  }
}

.desktop-header-content {
  max-width: var(--first-max-page-width);
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--first-solid-padding);
}

.desktop-header-first {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 50px;
}

.desktop-header-first-logo {
  font-family: "my-font-bold", serif;
  color: var(--on-background-color);
  font-size: var(--large-font);
}

.desktop-header-first-btn {
  font-size: var(--title-font);
  font-family: "my-font-medium", serif;
  color: var(--neutral-10-color);
  padding: 12px;
  border-radius: var(--second-radius);
}
