.pdp {
  --mobile-pdp-nav-height: 60px;
  @include mobile-media {
    padding-bottom: var(--mobile-pdp-nav-height);
  }
}

.pdp-page {
  max-width: var(--first-max-page-width);
  margin-inline: auto;
  min-height: var(--min-full-height);
  padding-bottom: var(--footer-gap);
  position: relative;
  display: flex;
  flex-direction: column;

  @include desktop-media {
    padding-top: calc(var(--header-height) + 24px);
    gap: 40px;
  }

  @include mobile-media {
    gap: 24px;
  }
}

.pdp-page-description {
  background-color: var(--neutral-5-color);
  margin-inline: var(--first-solid-padding);

  @include desktop-media {
    padding: 48px;
    border-radius: var(--fifth-radius);
  }

  @include mobile-media {
    padding: 16px;
    border-radius: var(--third-radius);
  }
}

.pdp-page-description-title {
  font-family: my-font-bold, serif;
  color: var(--on-background-color);
  margin-bottom: 12px;

  @include desktop-media {
    font-size: var(--huge-font);
  }

  @include mobile-media {
    font-size: var(--large-font);
  }
}

.pdp-page-description-txt {
  color: var(--neutral-10-color);
  font-family: my-font-regular, serif;

  @include desktop-media {
    font-size: var(--big-font);
  }

  @include mobile-media {
    font-size: var(--title-font);
  }
}

.pdp-page-hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @include desktop-media {
    gap: 32px;
    padding: 0 var(--first-solid-padding);
  }
}

.pdp-page-hero-first {
  @include desktop-media {
    flex-grow: 1;
    max-width: 560px;
  }
  @include mobile-media {
    width: 100%;
    padding: 0 var(--first-solid-padding);
  }
}

.pdp-page-hero-first-title {
  color: var(--on-background-color);
  font-family: my-font-bold, serif;
  margin-bottom: 12px;

  @include desktop-media {
    font-size: var(--giant-font);
  }

  @include mobile-media {
    font-size: var(--huge-font);
  }
}

.pdp-page-hero-first-detail {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--neutral-10-color);
  font-family: my-font-regular, serif;
}

.pdp-page-hero-first-detail-border {
  height: 12px;
  width: 1px;
  background-color: var(--neutral-6-color);
}

.pdp-page-hero-first-nav {
  @include desktop-media {
    margin-top: 24px;
  }

  @include mobile-media {
    position: fixed;
    bottom: 0;
    inset-inline: 0;
    background-color: var(--surface-color);
    height: var(--mobile-pdp-nav-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: var(--header-z-index);
    padding: 0 var(--first-solid-padding);
    gap: 24px;
    box-shadow: 0 -5px 12px 0 rgba(0, 0, 0, 0.05);
    border-top: 1px solid var(--first-border-color);
  }
}

.pdp-page-hero-first-nav-detail {
  @include mobile-media {
    flex: 1;
  }
}

.pdp-page-hero-first-progress {
  color: var(--neutral-10-color);

  @include desktop-media {
    margin-bottom: 8px;
    font-size: var(--large-font);
  }
  @include mobile-media {
    margin-bottom: 6px;
    font-size: var(--small-font);
  }
}

.pdp-page-hero-first-progress-bar {
  border-radius: var(--first-radius);
  background-color: var(--second-border-color);

  div {
    background-color: var(--on-background-color);
    border-radius: var(--first-radius);
    height: 100%;
  }

  @include desktop-media {
    margin-bottom: 32px;
    height: 8px;
  }

  @include mobile-media {
    height: 4px;
  }
}

.pdp-page-hero-first-btn {
  @include desktop-media {
    width: 160px;
  }
  @include mobile-media {
    width: calc(50% - 12px);
  }
}

.pdp-page-hero-first-count {
  margin-top: 16px;
  font-size: var(--small-font);
  font-family: "my-font-medium", serif;
  color: var(--neutral-10-color);

  span {
    font-family: "my-font-bold", serif;
    color: var(--on-background-color);
  }
}

.pdp-page-hero-second {
  aspect-ratio: 16 / 9;

  @include desktop-media {
    width: 42%;
    border-radius: var(--fifth-radius);
  }
  @include mobile-media {
    width: 100%;
    order: -1;
    margin-bottom: 24px;
    background-color: var(--black);
  }
}

.pdp-pay-modal {
  width: var(--desktop-modal-width);
  max-width: 100%;
}

.pdp-pay-modal-content {
  @include mobile-media {
    padding: 0 16px 20px;
  }
  @include desktop-media {
    padding: 32px;
  }
}

.pdp-pay-modal-content-img {
  aspect-ratio: 1;
  object-fit: contain;

  @include desktop-media {
    width: 64px;
  }
  @include mobile-media {
    width: 56px;
  }
}

.pdp-pay-modal-content-title {
  color: var(--on-background-color);
  font-family: "my-font-medium", serif;
  margin-block: 8px;

  @include desktop-media {
    font-size: var(--huge-font);
  }
  @include mobile-media {
    font-size: var(--large-font);
  }
}

.pdp-pay-modal-content-desc {
  color: var(--neutral-10-color);
  margin-bottom: 16px;
  font-family: "my-font-regular", serif;

  @include desktop-media {
    font-size: var(--large-font);
  }
  @include mobile-media {
    font-size: var(--title-font);
  }
}

.pdp-pay-modal-content-input {
  position: relative;
  margin-bottom: 16px;
}

.pdp-pay-modal-content-input-label {
  font-size: var(--title-font);
  color: var(--on-background-color);
  position: absolute;
  top: 14px;
  inset-inline-end: 16px;
}
